body {
    font-family: monospace;
     background-image: url(clouds.jpg);
     padding:1em;
}

.header {
    padding: 1em;
    display: flex;
}

.main {
    padding: 1em;
    
}

/* .footer {
    background-color: lightgreen;
    padding: 1em;
} */


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 70;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 25px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

  @media screen and (min-width: 600px) {
      .column {
      float: left;
      width: 30%;
      padding: 1em;
      }
    }

  .right {
    float: right;
  }

  .left {
  float:left;
  }
  
   img {
      padding: 2em;
  } 

    @media(max-width:260px){
        .column {
            display: flex;
        }
    }
